.addMcu {
    display: flex;
}
.mcuContent {
    padding: 0 2.3% 5.5%;
    flex: 1;
    width: 100%
}
.mcuContentTitle {
    height: 60px;
    line-height:60px;
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #666666;
    letter-spacing: 0;
    position: relative;
    display: flex;
    align-items: center;
}
.leftIcon {
    font-size: 24px;
    color: #0D94FF;
    margin-right: 10px;
}
.questionIcon{
    font-size: 13px; 
    color: #B7C1CF;
    position: absolute; 
    right:0; 
}
.mcuContentMid{
    height: 608px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
}
.mcuContentMidpadding {
    padding: 20px 32px;
}

.tipDiv {
    display: flex;
}
.tipDiv :global(.ant-form-item){
    display: flex;
    margin-bottom: 16px;
}
.tipDiv :global(.ant-form-item-label){
    width: 130px;
    text-align: left;
}
.tipDiv :global(.ant-form-item-control-wrapper){
    width: 300px;
    height: 32px;
}
.quetionIconModal {
    font-size: 13px; 
    color: #B7C1CF;
    margin-left: 11.3px;
    margin-top: 15px;
}
.tipDiv .btnGroup {
    margin-top: 24px;
}
.btnGroup :global(.ant-btn){
    width: 120px;
    font-size: 13px;
    font-family: PingFangSC-Regular;
    border-radius: 2px;
}
.btnGroup .cancelBtn {
    margin-left: 19px;
}
