.euaMain {
    display: flex;
}
.leftNav {
    width:200px;
    height: 708px;
}
.euaContent {
    padding: 0 2.3% 5.5%;
    flex: 1;
}
.euaContentTitle {
    height: 58px;
    line-height:58px;
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #666666;
    letter-spacing: 0;
    position: relative;
    display: flex;
    align-items: center;
}
.euaContentMid {
    height: 608px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
}
.questionIcon{
    font-size: 13px; 
    color: #B7C1CF;
    position: absolute; 
    right:0; 
}
.unlinkImg{
    width:152px;
    height:122px;
    display: inline-block;
    margin-top: 16.7%;
    margin-left:34.8%;
    background: #D6D5D5;
}
.linkButton {
    width: 148px;
    height: 32px;
    background: #0D94FF;
    border-radius: 2px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
    line-height: 32px;
    margin-top: 30px;
    margin-left:34.8%;
}
.unlink span {
    font-family: PingFangSC-Regular;
    font-size: 25px;
    color: #666666;
    margin-top: 14px;
    margin-left: 25.6%;
}
.firstLink {
    padding: 0 32px;
}
.firstLink :global(.ant-tabs-nav .ant-tabs-tab-active) {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;  
    border-bottom: 1px solid #EDEDED;
}
.firstLink :global(.ant-form-item){
    display: flex;
    margin-bottom: 16px;
}
.firstLink :global(.ant-form-item-label){
    width: 160px;
    text-align: left;
}
.firstLink :global(.ant-form-item-control-wrapper){
    width: 300px;
    height: 32px;
}
.firstLink .tipDiv {
    display: flex;
}
.firstLink .quetionIconAccount {
    font-size: 13px; 
    color: #B7C1CF;
    margin-left: 11.3px;
    margin-top: 13px;
}
.firstLink .cancelBtn {
    margin-left: 19px;
}
.firstLink :global(.ant-btn){
    width: 120px;
    font-size: 13px;
    font-family: PingFangSC-Regular;
    border-radius: 2px;
}
