.euaContentTitleMid {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #333333;
    margin-left: 60px;
    display: flex;
    flex: 1;
}
.midContent {
    width: 320px;
    display: flex;
    justify-content: space-between;
}
.status .greenCircle{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #6ECE7E;
    border-radius: 50%;
    margin-right: 10px;
}
.mainIp .mainIpIcon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #D8D8D8;
    margin-right: 10px;
}
.euaContentTitleRight{
    width: 330px;
    display: flex;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #0D94FF;
    justify-content: space-between;
    margin-right: 20px;
}    
.vtsImg {
    width: 24px;
    height: 24px;
    display: inline-block;
}
.more :global(.ant-dropdown-menu-item){
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
}
.more :global(.ant-dropdown-menu-item-active){
    background: #F0F0F0;
    color: #0D94FF;
}
/* 基本信息 */
.baseInfo .formItem {
    display: flex;
    width: 100%;
    margin-top: 18px;
}
.baseInfo .formItem .labelDiv{
    width: 160px;
    text-align: left;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #999999;
    padding-left: 0.7%;
}
.baseInfo .formItem .wrapperDiv {
    width: 280px;
    height: 30px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #333333;
}
.baseInfo .editBtn {
    margin: 40px 0 0 160px;
}
.baseInfo :global(.ant-btn){
    width: 120px;
    font-size: 13px;
    font-family: PingFangSC-Regular;
    border-radius: 2px;
}
/* 业务地址 */
.serviceAddress .btnGroup{
    margin: 10px 0;
}
.addBtn {
    margin-right: 8px;
}
.btnGroup :global(.ant-btn){
    width: 60px;
    height: 32px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
}
.deleteIcon {
    margin-left: 2px;
}
.serviceAddress :global(.ant-table-body){
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #333333;
}
.serviceAddress :global(.ant-table-body .ant-table-thead tr){
    color: #999;
}
.quetionIconModal {
    font-size: 13px; 
    color: #B7C1CF;
    margin-left: 11.3px;
    margin-top: 25px;
}
.tipDiv {
    display: flex;
}
.tipDiv :global(.ant-form-item){
    margin-top: 16px;
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
}
.tipDiv :global(.ant-form-item-label){
    width: 120px;
    text-align: left;
}
.tipDiv :global(.ant-form-item-control-wrapper){
    width: 300px;
    height: 32px;
}
:global(.ant-modal-footer .ant-btn){
    width: 120px;
    height: 32px;
}
:global(.ant-modal-content .ant-modal-footer){
    text-align: center;
}
/* AD同步配置 */
.ADConfig .btnGroup {
    margin: 10px 0;
}
.ADConfig .btnGroup :global(.ant-btn){
    width: 60px;
    height: 32px;
}
.ADConfig .btnGroup .addBtn,.ADConfig .btnGroup .delBtn {
    margin-right: 8px;
}
.operationDiv {
    display: flex;
}
.operationDiv .editDiv {
    margin-right: 14px;
}
.detailTable .title {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #999999;
    line-height: 18px;
    width: 140px;
    height: 30px;
}
.detailTable .content {
    width: 280px;
    height: 30px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #333333;
    line-height: 18px;
}
.detailTable .tr {
    margin-bottom: 24px;
}
.ADConfig :global(.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td) {
   padding: 10px 16px
}
/* AD同步配置modal */
:global(.ant-modal-body){
    height: 554px;
    overflow: scroll;
    padding:25px 20px 25px 40px;
}
.tipADConfigDiv {
    display: flex;
}
.tipADConfigDiv :global(.ant-form-item){
    margin-top: 15px;
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
}
.tipADConfigDiv :global(.ant-form-item-label){
    width: 130px;
    text-align: left;
}
.tipADConfigDiv :global(.ant-form-item-control-wrapper){
    width: 400px;
}
.ADConfig .textArea {
    width: 610px;
    height: 64px;
}
.tipADConfigDiv :global(.ant-input-number){
    width: 400px;
}
/* 共享组织 */
.shareNode .formHeader {
    height: 65px;
    border-bottom: 1px solid #EDEDED;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shareNode .formHeader span {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #999999;
}
.shareNode .formBody {
    height: 378px;
    overflow: scroll;
    border-bottom: 1px solid #EDEDED;
}
.shareNode .formBody :global(.ant-tree-switcher_open .ant-tree-switcher-line-icon){
    color: #0D94FF;
    font-style: 13px;
}
.shareNode .formBody :global(.ant-tree-switcher-noop .ant-tree-switcher-line-icon){
    display: none;
}
.shareNode .formFooter .btnGroup {
    text-align: center;
    margin-top: 40px;
}
.shareNode .formFooter .btnGroup :global(.ant-btn) {
 width: 120px;
}
.shareNode .formFooter .btnGroup .saveBtn {
    margin-right: 19px;
}
/* 其他配置 */
.otherSettings {
    overflow: scroll;
    height: 670px;
}
.tipOtherDiv {
    display: flex;
}
.tipOtherDiv :global(.ant-form-item){
    margin-top: 16px;
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
}
.tipOtherDiv :global(.ant-form-item-label){
    width: 140px;
    text-align: left;
}
.tipOtherDiv :global(.ant-form-item-control-wrapper){
    width: 300px;
    height: 32px;
}
.tipOtherDiv :global(.ant-btn){
    width: 120px;
    height: 32px;
}
.tipOtherDiv .btnGroup {
    margin-top: 24px;
}
