.mcuMain {
    display: flex;
}
.mcuContent {
    padding: 0 2.3% 5.5%;
    flex: 1;
    width: 100%
}
.mcuContentTitle {
    height: 60px;
    line-height:60px;
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #666666;
    letter-spacing: 0;
    position: relative;
    display: flex;
    align-items: center;
}
.mcuContentTitle .leftIcon {
    font-size: 24px;
    color: #0D94FF;
    margin-right: 10px;
}
.mcuContentTitleMid {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #333333;
    margin-left: 60px;
    display: flex;
    flex: 1;
}
.midContent {
    width: 320px;
    display: flex;
    justify-content: space-between;
}
.status .greenCircle{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #6ECE7E;
    border-radius: 50%;
    margin-right: 10px;
}
.mcuStatus {
    display: flex;
    align-items: center;
}
.mcuStatus .mcuStatusIcon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    text-align: center;
    border: 1px solid #E9E5E5;
    background: #666666;
}

.mainIp span {
    color: #0D94FF;
}
.questionIcon{
    font-size: 13px; 
    color: #B7C1CF;
    position: relative; 
    right:0; 
}
.mcuContentTitleRight {
    display: flex;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #0D94FF;
    justify-content: space-between;
    margin-right: 25px;
    align-items: center;
}
.schedulingDisabled,.backUpConfiguration,.more {
    margin-right: 20px;
}
.mcuContentTitleRight .schedulingDisabledIcon, .mcuContentTitleRight .backUpConfigurationIcon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #ccc;
}
.mcuContentMid{
    height: 740px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
}
.mcuContentMidpadding {
    padding: 20px 32px;
    /* height: 100%; */
}
.mcuContentMidpadding :global(.ant-tabs){
    height: 100%;
}
/* 基本信息 */
.mcuBaseInfo {
    height: 688px;
    overflow: auto;
}
.mcuBaseInfo .formItem {
    display: flex;
    width: 100%;
    margin-top: 18px;
}
.mcuBaseInfo .formItem .labelDiv{
    width: 160px;
    text-align: left;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #999999;
    padding-left: 0.7%;
    margin-right: 20px;
}
.mcuBaseInfo .formItem .wrapperDiv {
    width: 280px;
    height: 30px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #333333;
}
.mcuBaseInfo .editBtn {
    margin: 40px 0 0 160px;
}
.mcuBaseInfo :global(.ant-btn){
    width: 120px;
    font-size: 13px;
    font-family: PingFangSC-Regular;
    border-radius: 2px;
}
/* 参数配置编辑模式 */
.paramConfig {
    height: 702px;
    overflow: auto;
}
.paramConfigForm .leftForm {
    width: 45%;
}
.paramConfigForm .rightForm{
    flex:1;
}
.paramConfigForm :global(.ant-menu-sub.ant-menu-inline) {
    display: flex;
}
.paramConfigForm .tipParamDiv{
    display: flex;
}
.tipParamDiv :global(.ant-form-item){
    display: flex;
    margin-bottom: 16px;
}
.tipParamDiv :global(.ant-form-item-label){
    width:205px;
    text-align: left;
    margin-right: 20px;
}
.tipParamDiv :global(.ant-form-item-control-wrapper){
    width: 300px;
    height: 32px;
}
.paramConfigForm :global(.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title){
    color: #0D94FF;
    padding: 0 !important;
}
.quetionIconModal {
    font-size: 13px; 
    color: #B7C1CF;
    margin-left: 11.3px;
    margin-top: 15px;
}
.paramConfigForm .btnGroup {
    margin-left: 160px;
    margin-top: 24px;
}
.paramConfigForm .btnGroup :global(.ant-btn){
    width: 120px;
    height: 32px;
}
.paramConfigForm .btnGroup .cancelBtn{
    margin-left: 20px;
    margin-top: 24px;
}
.paramConfigForm .formItem {
    display: flex;
    width: 100%;
    margin-top: 18px;
}
.paramConfigForm .formItem .labelDiv{
    width: 160px;
    text-align: left;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #999999;
    padding-left: 0.7%;
}
.paramConfigForm .formItem .wrapperDiv {
    width: 300px;
    height: 30px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #333333;
}
/* 参数配置查看模式 */
.paramConfig .leftDiv {
    width: 45%;
}
.paramConfig :global(.ant-menu-sub.ant-menu-inline) {
    display: flex;
}
.paramConfig .rightDiv{
    flex: 1;
}
.paramConfig .formItem {
    display: flex;
    width: 100%;
    margin-top: 18px;
}
.paramConfig .formItem .labelDiv{
    width: 220px;
    text-align: left;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #999999;
    padding-left: 0.7%;
}
.paramConfig .formItem .wrapperDiv {
    width: 280px;
    height: 30px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #333333;
}
.paramConfig :global(.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title){
    color: #0D94FF;
    padding: 0 !important;
}
.paramConfig .editBtn {
    margin: 40px 0 0 160px;
}
.paramConfig :global(.ant-btn){
    width: 120px;
    font-size: 13px;
    font-family: PingFangSC-Regular;
    border-radius: 2px;
}
